
main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}


.btn-primary,
.logo-1,
.logo-2 {
  font-family: "Inter", sans-serif;
}

img  {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.btn-primary {
    background-color: #4E47FF;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 18px 35px;
    border: none;
    border-radius: 30px;
    cursor:pointer;
    margin-bottom: 20px;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.btn-primary:hover{
    background-color: darkblue;
  transform: scale(1.05)
}


/* header style */
.header{
  
  background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);

}
.banner-title{
    font-weight: bold;
    font-size: 65px;
    color: #181818;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    text-align: center;
    padding: 50px 20px;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 50px;
} 
.action-subtitle{
    font-size: 24px;
    color: #252432;
}

.action-left {
    display: flex;
    flex-direction: column; 
    align-items: left;     
    gap: 8px;              
    margin-top: -10px;
}

.action-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 0px;
}

.users-data {
    padding: 20px;
    margin: 50px;
    background-color: #F8F8F8;
    border-radius: 20px;
}

.h3title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    padding: 20px 0;
}

.users-data-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
    padding-bottom: 20px;
}

.star-icons {
    display: flex;
}

.star-icon {
    width: 20px;
    height: 20px;
}

.user-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 20px;
} 

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
} 
.user-card {
    background-color: #FFF8F3;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.users-feedback {
    padding: 50px 20px;
    margin: 50px;
}


.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-name {
    margin-bottom: 2px; 
} 

.complement-date {
    margin-top: 2px; 
}

.h6title {
    font-size: 16px;
    color: #181818;
    opacity: 0.5;
    text-align: center;
}

.focus {
    padding: 50px 20px;
    text-align: center;
}

.logo-1 {
    font-size: 35px;
    font-weight: bold;
    color: #4E47FF;
    text-align: center;
    padding: 20px 0;
}
footer {
    background-color: #F8F8F8;
    padding: 50px 20px;
    text-align: center;
    gap: 100px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1140px;
}
.footer-right {
    width: 60%;
} 
.footer-left {
    width: 40%;
}

footer input[type="text"],footer input[type="password"] ,footer input[type="email"], footer textarea {
    display: block;
    width: 70%;
    height: 64px;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #181818;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
}



input::placeholder,
textarea::placeholder {
    color: lightsteelblue;   
}

footer label {
    font-size: 16px;
    color: #181818;
    margin-bottom: 10px;
    display: block;
    text-align: left;
}
footer p {
    font-size: 16px;
    color: #181818;
    opacity: 0.5;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.logo-2 {
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
    text-align: center;
    margin-bottom: 20px;
}

.inbound-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 20px 20px 0px;
}

.inbound-links a {
  text-decoration: none;
  color: #181818;
  transition: color 0.2s;
}





